.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:focus-visible + .slider {
  outline-style: auto;
}

.slider {
  border-radius: 8px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--switch-surface-neutral-color);
  -webkit-transition: .4s;
  transition: .4s;
  outline-offset: 2px;
}
.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: var(--switch-surface-handle-color);
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: var(--switch-surface-on-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--switch-surface-on-color);
}

input:checked + .slider:before {
  transform: translateX(16px);
}